.lazyload,
.lazyloading {
    opacity: 0;
}

.lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
}

.lazy_background.lazyload, .lazy_background.lazyloadwait {
    background-image: none !important;
}
